MapsforgePlatform/Agg2Graph/target
MapsforgePlatform/Agg2GraphUI/target
MapsforgePlatform/CacheModule/target
MapsforgePlatform/GeoFileTypeApi/target
MapsforgePlatform/GpxFileTypeModule/target
MapsforgePlatform/JFreeChartLib/target
MapsforgePlatform/MapForgeProject/target
MapsforgePlatform/MapViewer/target
MapsforgePlatform/MapsForgeProjectAggregatorModule/target
MapsforgePlatform/MapsForgeProjectDataSourceModule/target
MapsforgePlatform/MapsForgeProjectDetectorModule/target
MapsforgePlatform/OpenstreemapSevice/target
MapsforgePlatform/OpenstreetMap/target
MapsforgePlatform/SettingsModule/target
MapsforgePlatform/UtilsModule/target
MapsforgePlatform/WekaLibModule/target
MapsforgePlatform/XmlCatalogModule/target
MapsforgePlatform/application/target
MapsforgePlatform/branding/target
