MapsforgePlatform/Agg2Graph/target
MapsforgePlatform/Agg2GraphUI/target
MapsforgePlatform/ApacheBatikLib/target
MapsforgePlatform/CacheModule/target
MapsforgePlatform/GeoFileTypeApi/target
MapsforgePlatform/GpxFileTypeModule/target
MapsforgePlatform/ITextLib/target
MapsforgePlatform/JFreeChartLib/target
MapsforgePlatform/MapForgeProject/target
MapsforgePlatform/MapForgeProjectPlugInsModule/target
MapsforgePlatform/MapViewer/target
MapsforgePlatform/MapsForgeProjectAggregatorModule/target
MapsforgePlatform/MapsForgeProjectDataSourceModule/src/main/resources/de/fub/mapsforge/project/datasource/ui/Thumbs.db
MapsforgePlatform/MapsForgeProjectDataSourceModule/target
MapsforgePlatform/MapsForgeProjectDetectorModule/target
MapsforgePlatform/MapsForgeSnapShotModule/target
MapsforgePlatform/MapsforgeGpxAnalysisModule/target
MapsforgePlatform/OpenstreemapSevice/target
MapsforgePlatform/OpenstreetMap/target
MapsforgePlatform/SettingsModule/target
MapsforgePlatform/UtilsModule/target
MapsforgePlatform/WekaLibModule/target
MapsforgePlatform/XmlCatalogModule/target
MapsforgePlatform/application/target
MapsforgePlatform/branding/target
