MapsforgePlatform/*.idea
MapsforgePlatform/*.iml
MapsforgePlatform/Agg2Graph/Agg2Graph.iml
MapsforgePlatform/Agg2Graph/target
MapsforgePlatform/Agg2GraphUI/Agg2GraphUI.iml
MapsforgePlatform/Agg2GraphUI/target
MapsforgePlatform/ApacheBatikLib/ApacheBatikLib.iml
MapsforgePlatform/ApacheBatikLib/target
MapsforgePlatform/CacheModule/CacheModule.iml
MapsforgePlatform/CacheModule/target
MapsforgePlatform/GeoFileTypeApi/GeoFileTypeApi.iml
MapsforgePlatform/GeoFileTypeApi/target
MapsforgePlatform/GpxFileTypeModule/gpxfileType.iml
MapsforgePlatform/GpxFileTypeModule/target
MapsforgePlatform/ITextLib/ITextLib.iml
MapsforgePlatform/ITextLib/target
MapsforgePlatform/JFreeChartLib/JFreeChartLib.iml
MapsforgePlatform/JFreeChartLib/target
MapsforgePlatform/LibApacheLog4J/log4J.iml
MapsforgePlatform/LibApacheLog4J/target
MapsforgePlatform/LibJSIModule/jsi.iml
MapsforgePlatform/LibJSIModule/target
MapsforgePlatform/MapForgeProject/mapforgeproject.iml
MapsforgePlatform/MapForgeProject/target
MapsforgePlatform/MapForgeProjectPlugInsModule/MapForgeProjectPlugInsModule.iml
MapsforgePlatform/MapForgeProjectPlugInsModule/target
MapsforgePlatform/MapViewer/MapViewer.iml
MapsforgePlatform/MapViewer/target
MapsforgePlatform/MapsForgeProjectAggregatorModule/MapsForgeProjectAggregatorModule.iml
MapsforgePlatform/MapsForgeProjectAggregatorModule/target
MapsforgePlatform/MapsForgeProjectDataSourceModule/mapsforge.project.datasource.iml
MapsforgePlatform/MapsForgeProjectDataSourceModule/target
MapsforgePlatform/MapsForgeProjectDetectorModule/MapsForgeProjectDetectorModule.iml
MapsforgePlatform/MapsForgeProjectDetectorModule/target
MapsforgePlatform/MapsForgeSnapShotModule/MapsForgeSnapShotModule.iml
MapsforgePlatform/MapsForgeSnapShotModule/target
MapsforgePlatform/MapsforgeGpxAnalysisModule/gpxanalysis.iml
MapsforgePlatform/MapsforgeGpxAnalysisModule/target
MapsforgePlatform/OpenstreemapSevice/OpenstreemapSevice.iml
MapsforgePlatform/OpenstreemapSevice/target
MapsforgePlatform/OpenstreetMap/openstreetmap.iml
MapsforgePlatform/OpenstreetMap/target
MapsforgePlatform/SettingsModule/SettingsModule.iml
MapsforgePlatform/SettingsModule/target
MapsforgePlatform/UtilsModule/UtilsModule.iml
MapsforgePlatform/UtilsModule/target
MapsforgePlatform/WekaLibModule/WekaLibModule.iml
MapsforgePlatform/WekaLibModule/target
MapsforgePlatform/XmlCatalogModule/XmlCatalogModule.iml
MapsforgePlatform/XmlCatalogModule/target
MapsforgePlatform/application/MapsforgePlatform-app.iml
MapsforgePlatform/application/target
MapsforgePlatform/branding/MapsforgePlatform-branding.iml
MapsforgePlatform/branding/target
